// =============================================================================
// SHARED > BUTTONS
// =============================================================================
.button
  +user-select(               none)
  display:                    inline-block
  position:                   relative
  white-space:                nowrap
