// =============================================================================
// SHARED > ICONS + SPRITES
// =============================================================================

// font-awesome bootstrapping --------------------------------------------------
[class^="icon-"],
[class*=" icon-"]
  -moz-osx-font-smoothing:    grayscale
  -webkit-font-smoothing:     antialiased
  font-family:                font-awesome
  display:                    inline-block
  position:                   relative

.icon-bell:before
  content:                    "\f0f3"

.icon-glass:before
  content:                    "\f000"
