// =============================================================================
// VIEWS > MAP
// =============================================================================
#mapContainer
  padding-top:                60%
  position:                   relative

#map
  bottom:                     0
  left:                       0
  position:                   absolute
  right:                      0
  top:                        0

