// =============================================================================
// THEME > FONTS
// =============================================================================

// @font-face imports ----------------------------------------------------------
+font-face(                   font-awesome, fontawesome-webfont, fontawesomeregular)
+font-face(                   gill-sans, gill-sans-mt-bold, gill)

// font stack for @font-face fonts ---------------------------------------------
$gill-sans:                   gill-sans, cambria, georgia, serif

// Pre-made font stacks that can be utilized. For more see: cssfontstack.com
// Serif -----------------------------------------------------------------------
$cambria:                     cambria, georgia, serif
$palatino:                    palatino, 'palatino linotype', 'palatino lt std', 'book antiqua', georgia, serif
// Sans-serif ------------------------------------------------------------------
$helvetica:                  'helvetica neue', arial, helvetica, sans-serif
$verdana:                     verdana, geneva, sans-serif
// Monospace -------------------------------------------------------------------
$consolas:                    consolas, monaco, monospace
$courier:                    'courier new', courier, 'lucida sans typewriter', 'lucida typewriter', monospace
